.cart-amount__container {
	@media (max-width: 767px) {
		margin: 0 !important;
		text-align: center;
		width: 100%;
		max-width: 100%;

		.bitcoin-small__price,
		.order__button {
			display: block;
			margin: 0 auto !important;
		}
	}
}

.product-item__container {
	min-height: 162px;
}