.checkout__container {
	.slider__container {
		padding-right: 32px !important;
		background-color: #FFF;

		@media (max-width: 991px) {
			padding-left: 0 !important;
		}

		@media (max-width: 767px) {
			padding-left: 32px !important;
			border-top: 1px solid #F2F2F2 !important;
		}
	}

	@media (max-width: 767px) {
		margin-top: -32px !important;

		.product-item__container {
			background-color: #FFF;
			padding: 0 !important;
		}

		.amount__container {
			line-height: 94px;
		}
	}
}

.products__container {
	@media (min-width: 1250px) {
		padding-top: 118px !important;
	}

	@media (min-width: 992px) {
		.product-content__container {
			padding-top: 38px !important;
		}
	}
}

.checkout-products__container {
	padding: 6px 18px;

	@media (max-width: 767px) {
		margin-top: 12px;
		margin-right: 32px !important;
		padding-left: 32px !important;
		padding-bottom: 32px !important;
		background-color: #FFF;
	}

	.checkout-products__table {
		width: 100%;
		font-size: 14px;
		color: rgb(153, 153, 153);
		border-collapse: collapse;

		.product-line__container {
			padding: 12px 0;

			@media (max-width: 991px) {
				vertical-align: top;
			}
		}
	}

	.product-title__container {
		font-size: 18px;

		@media (max-width: 767px) {
			display: block;
		}
	}

	.delivery-title__col {
		font-size: 18px; 
		color: #000; 

		@media (max-width: 447px) {
			display: none !important;
		}
	}

	.checkout-deliveries__container {
		margin-left: 38px;
		font-size: 13px;
		max-width: 72%;
	}
}

.confirm__button {
	margin-top: 18px;
}

.delivery-method__item {
	display: inline-block;
}

@media (max-width: 767px) {
	.amount__container {
		padding: 8px 32px !important;

		.amount__label {
			margin-right: 32px;
		}
	}
}

@media (max-width: 447px) {
	.cart-amount__containrt {
		width: 100%;
		text-align: left !important; 

		.default-small__price,
		.bitcoin-small__price {
			display: block;
			margin: 0 !important;
		}
	}

	.checkout__form,
	.payment-types__container {
		margin-right: 0 !important;
	}

	.payment-types-title__container,
	.additional-data-title__container {
		font-size: 20px;
		padding-left: 14px;
	}

	.checkout-products__container {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}