.default__button {
	color: #FFF;
	height: 50px;
	border: none;
	outline: none;
	font-size: 14px;
	padding: 0 40px;
	border-radius: 0;
	line-height: 50px;
	font-weight: bold;
	position: relative;
	vertical-align: top;
	display: inline-block;
	background-color: rgb(96, 166, 69);
}

.default__button:focus {
	outline: none;
}

.default__button:hover {
	color: #FFF;
	text-decoration: none;
	background-color: #7AD258;
}

.default__button.loading:before {
	width: 20px;
	height: 20px;
	content: '\f021';
	display: block;
	position: absolute;
	top: 16px;
	right: 12px;
	font: normal normal normal 20px/1 FontAwesome;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}