/*style for new select*/

.select-hidden {
	display: none;
	visibility: hidden;
}

.select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	float: left;
	width: 100%;
	height: 50px;
	text-indent: 11px;
	background-color: #fff;
	/* color: #999; */
	font-size: 15px;
	/* color: #999; */
}

.select-styled {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	line-height: 46px;
	border-bottom: solid 1px #c5c5c5;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.select-styled:after {
	content: '';
	position: absolute;
	top: 20px;
	right: 11px;
	width: 14px;
	height: 7px;
	background: url(../img/sprite-calculator.png) no-repeat;
	background-position: 0px -80px;
}

.select-styled:active:after,
.select-styled.active:after {
	top: 18px;
	background-position: 0px -87px;
}

.select-options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 0;
	list-style: none;
	border: solid 1px #60a645;
	border-top: none;
	background: #fff;
}

.select-options li {
	margin: 0;
	height: 36px;
	line-height: 36px;
	text-indent: 6px;
	border-top: solid 1px #60a645;
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}

.select-styled:hover,
.select-styled:active,
.select-styled.active {
	border-bottom-color: transparent;
}

.select-styled:hover,
.select-options li:hover {
	color: #fff;
	background: #60a645;
}

.select-options li[rel="hide"] {
	display: none;
}


/*style for new tabs end*/

.section-cals {}

.bg-white {
/*	background-color: #fff;*/
}

.network-status {
	margin: 47px auto 32px;
}

.network-status--title {
	border-bottom: 2px solid #60a645;
	padding: 18px 30px;
	font: 24px/18px 'Roboto', sans-serif;
}

.network-status--parent {
	font: 300 24px/54px 'Roboto', sans-serif;
	padding: 8px 30px;
}

.network-status div *:not(i) {
	font: 300 18px/18px 'Roboto', sans-serif !important;
}

.network-status--inner {
	display: flex;
	flex-direction: row;
	margin: 18px 0;
}

.network-status--inner>div {
	width: 50%;
}

.network-delimiter {
	border-bottom: 1px solid #c5c5c5;
	margin-bottom: 26px !important;
	padding-bottom: 33px;
}

.table--responsive {
	font: 300 16px/18px 'Roboto', sans-serif;
	margin-bottom: 26px;
}

.income-table__inner {}

.income-table__item .income-icon {
	display: none;
}

.income-icon:after {
	content: "";
	color: #fff;
	font-weight: bold;
	margin-left: 10px;
}

.income-icon-1:after {
	content: "\000E3F";
}

.income-icon-2:after {
	content: "$";
}

.income-icon-3:after {
	content: "\20BD";
}
 

.income-table__item,
.income-table__title--item {
	display: flex;
}

.income-days {
	width: 25%;
	padding: 10px 0px;
}

.income-days a {
	color: inherit;
	border-bottom: dashed 1px inherit;
}
.income-days.active a,
.income-days:hover a {
	color: #60a645;
	border-bottom: dashed 1px #60a645;
}


/*style for new tabs end*/

.korpus {
	position: relative;
	/*overflow: hidden;*/
	margin: 28px auto 0;
	max-width: 100%;
	width: 100%;
	background: #fff;
	font: 300 16px/18px 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.korpus>div,
.korpus>input {
	display: none;
}

.tab-label {
	cursor: pointer;
	position: relative;
	/* background: #fff; */
	line-height: 36px;
	padding-right: 6px;
	text-align: right;
	color: #60a645;
	display: inline-block;
	padding-top: 1.2px;
	font-weight: bold;
	border: 2px solid transparent;
}

.label-1,
.label-4 {
	width: 18%;
}
.label-4 {
 
padding-right: 12px;
}
.label-2 {
	width: 18%;
	padding-right: 10px;
}

.label-3 {
	width: 21%;
	padding-right: 7px;
}

.tab-label:before {
	content: '';
	position: absolute;
	top: 11px;
	left: 6px;
	width: 18px;
	height: 18px;
}

.label-1:before {
	background: url(/images/bitcoin.svg) no-repeat center center;
	background-size: cover;
}
.label-11:before {
	background: url(/images/bitcoin_cash.svg) no-repeat center center;
    background-size: cover;
}

.label-2:before {
	background: url(/images/litecoin.svg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.label-3:before {
	background: url(/images/dash-3.svg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.label-4:before {
	background: url(/images/ethereum.svg) no-repeat top center;
    background-size: 239%;
}

.korpus input[type="radio"]:checked+.tab-label {
	color: #000;
	border: 2px solid #60a645 !important;
	/* border-bottom-color: transparent; */
	border-bottom: 2px solid #fff!important;
	background: #fff;
	z-index: 9999;
	position: relative;
}

.korpus>input:nth-of-type(1):checked~div:nth-of-type(1),
.korpus>input:nth-of-type(2):checked~div:nth-of-type(2),
.korpus>input:nth-of-type(3):checked~div:nth-of-type(3),
.korpus>input:nth-of-type(4):checked~div:nth-of-type(4) {
	display: block;
	margin-top: -2px;
	padding: 4px 36px 39px;
	border: 2px solid #60a645;
}

.tabs_item {
	display: none;
	margin-top: -2px;
	padding: 4px 36px 39px;
	border: 2px solid #60a645;
}

.tabs_item:first-child {
	display: block;
}

.current-tab a {
	color: #000;
	border: 2px solid #60a645;
	border-bottom: 0;
}

.calculator-form {
	width: 100%;
}

.calculator-form--item {
	float: left;
	width: 100%;
	margin-top: 21px;
}

.radio-buttons+.calculator-form--item {
	margin-top: 10px;
}

.width-60 {
	float: left;
	width: 63.68%;
}

.width-33 {
	float: right;
	width: 31.55%;
}

.quantity {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	border: 0;
	border-bottom: solid 1px #c5c5c5;
	background-color: #fff;
	/* color: #999; */
	font: 300 16px/50px 'Roboto', sans-serif !important;
	text-indent: 16px;
}

.quantity-center {
	text-align: center;
	text-indent: 15px;
}

.quantity:focus {
	border-bottom-color: #60a645;
	outline-color: #60a645;
}

.quantity::-webkit-input-placeholder {
	color: #999;
	font: 300 16px/50px 'Roboto', sans-serif !important;
}

.quantity::-moz-placeholder {
	color: #999;
	font: 300 16px/50px 'Roboto', sans-serif !important;
}

.quantity:-moz-placeholder {
	color: #999;
	font: 300 16px/50px 'Roboto', sans-serif !important;
}

.quantity:-ms-input-placeholder {
	color: #999;
	font: 300 16px/50px 'Roboto', sans-serif !important;
}

.quantity:focus::-webkit-input-placeholder {
	color: transparent;
}

.quantity:focus::-moz-placeholder {
	color: transparent;
}

.quantity:focus:-moz-placeholder {
	color: transparent;
}

.quantity:focus:-ms-input-placeholder {
	color: transparent;
}

.radio-buttons {}

.radio {
	width: 20px;
	height: 20px;
}

.radio-buttons label {
	line-height: 24px;
	color: #000;
}

.hosting-label {
	margin-bottom: 5px;
}

.radio+label {
	cursor: pointer;
	border: 0;
}

.radio+label:hover {
	color: #64a849;
}

.radio:not(checked) {
	position: absolute;
	opacity: 0;
}

.radio:not(checked)+label {
	position: relative;
	padding: 0 0 0 30px;
	width: 100%;
	display: inline-block;
	float: left;
	text-align: left;
}

.radio:not(checked)+label:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
	border: 1px solid #64a849;
	border-radius: 50%;
	background: #fff;
}

.radio:not(checked)+label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #000;
	opacity: 0;
	transition: all .2s;
}

.radio:checked+label:after {
	opacity: 1;
}

.tooltip {
	position: relative;
	display: inline-block;
	top: 0px;
	margin-left: 6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #64a849;
	font: 14px/18px 'Roboto', sans-serif;
	text-align: center;
	color: #64a849;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 1s;
}

.tooltip .tooltiptext:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.button-green {
	display: inline-block;
	margin-top: 28px;
	width: 100%;
	height: 50px;
	border: 2px solid transparent;
	background: #60a645;
	font: 700 14px/46px 'Roboto', sans-serif;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.button-green:hover,
.button-green:focus {
	border-color: #60a645;
	background: #fff;
	color: #60a645;
}

.btc-table {
	margin-top: 35px;
	font: 16px/18px 'Roboto', sans-serif;
}

.btc-table ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.btc-table li {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	border-bottom: solid 1px #f2f2f2;
}

.btc-table__currency,
.btc-table__total {
	width: 94px;
	max-width: 94px;
	margin-bottom: -1px;
	background-color: #fff;
}

.btc-table__total {
	text-align: right;
}

.calculator-text h2 {
	font-size: 24px;
	/* color: inherit; */
	font-weight: 300;
}

#buyers {
	display: inline-block;
	/* width: 100% !important; */
	/* padding: 20px 20px 30px 30px !important; */
	background-color: #fff !important;
	/* height: 350px !important; */
}

@media only screen and (min-width: 992px) and (max-width: 1124px) {
	.tab-label:before {
		left: 2px;
	}
	.tab-label {
		padding-right: 4px;
		font-size: 14px;
	}
}
@media only screen and (min-width: 962px) and (max-width: 1266px) {
.korpus>input:nth-of-type(1):checked~div:nth-of-type(1), .korpus>input:nth-of-type(2):checked~div:nth-of-type(2), .korpus>input:nth-of-type(3):checked~div:nth-of-type(3), .korpus>input:nth-of-type(4):checked~div:nth-of-type(4) {
    display: block;
    margin-top: -2px;
    padding: 4px 22px 27px;
    border: 2px solid #60a645;
}
	.select-options li {
 
	    font-size: 12px 
	}
	 .select-styled {
	 	font-size: 13px 
	 }
}

@media (min-width: 992px) {
	.section-tab {
		margin-right: 22px;
		max-width: 386px;
	}
	.section-tab h1 {
		margin-top: -3px;
	}
	.table--responsive {
		padding-bottom: 30px;
	}
}

@media only screen and (max-width: 992px) {
	.network-status--parent {
		padding: 14px 20px;
	}
	.network-status div * {
		font-size: 16px !important;
	}
	.network-delimiter {
		margin-bottom: 14px !important;
		padding-bottom: 14px;
	}
}

@media only screen and (min-width: 768px) {
	.income-table__inner {
		padding: 0 30px;
	}
	.income-days-title {
		width: 44%;
	}
	.income-table__title {
		padding: 0px 30px;
	}
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
	.section-tab {
		margin-right: 20px;
	}
	.korpus {
		max-width: 384px;
	}
	.select,
	.width-60,
	.width-33 {
		width: 100%;
	}
	.energy.width-60 {
		width: 100%;
	}
	.quantity,
	.select {
		text-indent: 0;
		width: 100%;
		text-align: left;
	}
	.kvtch div.select-styled, .cur-LTC div.select-styled, .cur-DASH .select-styled {
		text-align: left !important;
	}
	.select-options li {
		text-indent: 4px;
	}
	.radio-buttons.calculator-form--item {
		margin-top: 22px;
	}
	.calculator-form--item {
		margin-top: 0;
	}
	.network-status--title,
	.income-table__inner,
	.tabs_item,
	.korpus>input:nth-of-type(1):checked~div:nth-of-type(1),
	.korpus>input:nth-of-type(2):checked~div:nth-of-type(2),
	.korpus>input:nth-of-type(3):checked~div:nth-of-type(3),
	.korpus>input:nth-of-type(4):checked~div:nth-of-type(4) {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	.income-days-title,
	.income-table__inner-title {
		width: 30% !important;
	}
	.income-table__item,
	income-table__title--item {
		width: 70% !important;
	}
	.current-tab a,
	.tab-label {
		color: transparent !important;
	}
	.tab-label:before {
		left: 50%;
		margin-left: -9px;
	}
	#buyers {
		padding: 10px 0 0 0 !important;
		height: 220px !important;
	}
}

@media  (min-width: 480px) and (max-width: 767px) {
	.section-tab h1 {
		margin: 0 auto;
	}
	.income-days-title {
		width: 20%;
	}
	.income-days__item {
		width: 80% !important;
		text-align: right;
		justify-content: flex-end;
	}
	.income-days {
		width: 21%;
	}
	.income-days:nth-child(3) {
		width: 25%;
	}
	.income-table__title,
	.income-table__inner {
		padding: 0 20px;
	}
	.income-table__title .income-icon,
	.income-number {
		text-align: right;
	}
	.btc-table {
		margin-bottom: 0;
	}
	.network-status {
		margin-top: 14px;
	}
	#buyers {
		padding: 10px 0 0 0 !important;
		height: 220px !important;
	}
	.tab-label {
		text-align: center;
	}

}

@media only screen and (min-width: 480px) {
	.income-days-title {
		padding: 18px 0px;
		font: 24px/18px 'Roboto', sans-serif;
	}
	.income-days {
		padding: 18px 0px;
	}
	.income-table__title {
		display: flex;
		justify-content: flex-end;
		background-color: #60a645;
	}
	.income-table__title .income-icon {
		width: 25%;
		padding: 10px 0px;
		background-color: #60a645;
		color: #fff;
		font: 700 14px/18px 'Roboto', sans-serif;
		text-transform: uppercase;
	}
	.income-table__inner {
		display: flex;
		flex-direction: row;
	}
	.income-table__inner-title {
		width: 44%;
		color: inherit;
		padding: 20px 0px 6px;
		font: 18px/18px 'Roboto', sans-serif;
	}
	.income-table__item,
	.income-table__title--item {
		flex-direction: row;
		width: 56%;
	}
	.income-number {
		width: 25%;
		padding: 20px 0px 6px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

}

@media only screen and (max-width: 479px) {
	.section-tab h1 {
		margin: 0px;
	}
	.korpus {
		margin-top: 16px;
	}
	.network-status--inner {
		flex-direction: column;
		margin: 8px 0;
	}
	.network-status--inner div {
		width: 100%;
		margin: 2px 0;
	}
	.network-status--inner div:first-child {
		color: #999999;
	}
	.income-days-title,
	.network-status--title {
		width: 100%;
		padding: 10px 20px;
		font: 24px/18px 'Roboto', sans-serif;
	}
	.income-days {
		font-size: 15px;
		text-align: center;
	}
	.income-table__title {
		display: none;
	}
	.income-table__inner-title {
		background-color: #60a645;
		color: #fff;
		padding: 10px 20px;
		font: 700 14px/18px 'Roboto', sans-serif;
		text-transform: uppercase;
	}
	.income-table__item {
		display: flex;
		flex-wrap: wrap;
	}
	.income-table__item .income-icon {
		display: block;
	}
	.income-icon,
	.income-number {
		width: 50%;
		line-height: 34px;
	}
	.income-number {
		text-align: right;
	}
	.income-icon:after {
		color: #000;
	}
	.income-table__item {
		flex-wrap: wrap;
		padding: 6px 20px;
	}
	.current-tab a,
	.tab-label {
		color: transparent !important;
	}
	.tab-label:before {
		left: 50%;
		margin-left: -9px;
	}
	.button-green {
		margin-top: 20px;
	}
	.tabs_item,
	.korpus>input:nth-of-type(1):checked~div:nth-of-type(1),
	.korpus>input:nth-of-type(2):checked~div:nth-of-type(2),
	.korpus>input:nth-of-type(3):checked~div:nth-of-type(3),
	.korpus>input:nth-of-type(4):checked~div:nth-of-type(4) {
		padding: 4px 20px 20px;
	}
	.energy.width-60 {
		/* width: 100%; */
	}
	.quantity,
	.select {
		text-indent: 0;
	}
	.radio-buttons.calculator-form--item {
		margin-top: 22px;
	}
	.radio-buttons+.calculator-form--item,
	.calculator-form--item {
		margin-top: 0;
	}
	.qw {
		height: 42px;
		line-height: 42px;
	}
	.select:after {
		top: 32px;
		right: 5px;
	}
	.btc-table {
		margin: 28px auto 6px;
	}
	.network-status--parent {
		padding: 6px 20px;
	}
	.network-status--inner div {
		width: 100%;
		margin: 1px 0;
	}
	.network-status div * {
		font-size: 15px !important;
	}
	.network-status--title {
		padding: 10px 20px 22px;
	}
	.income-days-title {
		padding: 10px 20px 2px;
	}
	.network-delimiter {
		margin-bottom: 8px !important;
		padding-bottom: 11px;
	}
	.network-status {
		margin-bottom: 22px;
	}
	#buyers {
		padding: 10px 0 0 0 !important;
		height: 160px !important;
	}
		.select-options li {
 
	    font-size: 12px 
	}
	 .select-styled {
	 	font-size: 13px 
	 }
}

label.disabled {
	opacity:0.4;
}

#buyers {
	display:none;
	max-width: 100%;
}


.fa-cog {
	color: #60a645
}

label.kvtch {
    color: #999;
    font: 300 16px/50px 'Roboto', sans-serif !important;
    padding-left: 34px;
}

.calc_title {
	font-size: 33px
}

@media (max-width: 1242px) {
		.current-tab a,
	.tab-label {
		color: transparent !important;
	}
	.tab-label:before {
 
    left: 35%;
   
}
}


.fixborder:after {
	content: '';
	width:2px;
	height: 2px;
	background: #60a645;
	position: absolute;
	bottom: -2px;
	left: -2px;
}
input[disabled] {
    opacity: 0.4;
}
input[readonly] {
    opacity: 0.4;
}

input[type="number"]:not([disabled]):not([readonly])::-webkit-input-placeholder {
  color: #000 !important; 
}