@font-face {
	font-family: Roboto;
	src:  url(../../fonts/RobotoRegular/RobotoRegular.ttf) format('truetype');
	src: url(../../fonts/RobotoRegular/RobotoRegular.eot),
	url(../../fonts/RobotoRegular/RobotoRegular.eot?#iefix) format('embedded-opentype'),
	url(../../fonts/RobotoRegular/RobotoRegular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: url(../../fonts/RobotoBold/RobotoBold.eot);
	src: url(../../fonts/RobotoBold/RobotoBold.eot?#iefix) format('embedded-opentype'),
		url(../../fonts/RobotoBold/RobotoBold.woff) format('woff'),
		url(../../fonts/RobotoBold/RobotoBold.ttf) format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: url(../../fonts/RobotoMedium/RobotoMedium.eot);
	src: url(../../fonts/RobotoMedium/RobotoMedium.eot?#iefix) format('embedded-opentype'),
		url(../../fonts/RobotoMedium/RobotoMedium.woff) format('woff'),
		url(../../fonts/RobotoMedium/RobotoMedium.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: url(../../fonts/RobotoLight/RobotoLight.eot);
	src: url(../../fonts/RobotoLight/RobotoLight.eot?#iefix) format('embedded-opentype'),
		url(../../fonts/RobotoLight/RobotoLight.woff) format('woff'),
		url(../../fonts/RobotoLight/RobotoLight.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	font-size: 16px;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif !important;
}

input,
button,
select,
textarea,
input:focus,
button:focus,
select:focus,
textarea:focus,
input[type="submit"] {
	resize: none !important;
	border: none;
	outline: none !important;
}

input.input__border {
	border: 1px solid #60A645;
}

button,
label {
	cursor: pointer !important;
}

a.default__link {
	color: #60A645;
	text-decoration: none;
}

a:hover,
a.default__link:hover {
	color: #000;
	text-decoration: underline;
}

.d-block-991,
.d-inline-block-991 {
	display: none;
}

@media (max-width: 991px) {
	.d-block-991 {
		display: block;
	}

	.d-inline-block-991 {
		display: inline-block;
	}
}

.root__container {
	overflow: hidden;
}

.default__container {
	@media (max-width: 767px) {
		width: 100% !important;
	}

	@media (min-width: 768px) {
		width: 728px !important;
		max-width: 728px !important;
	}

	@media (min-width: 992px) {
		width: 960px !important;
		max-width: 960px !important;
	}

	@media (min-width: 1250px) {
		width: 1220px !important;
		max-width: 1220px !important;
	}
}

.margin__collapse {
	margin: 0 !important;
}

.padding__collapse {
	padding: 0 !important;
}

.list__container {
	list-style: none !important;
}

.field__input,
.field__input:focus,
.field__grey,
.field__grey:focus {
	padding: 0;
	width: 100%;
	height: 40px;
	line-height: 1.2;
	margin: 0 0 15px;
	border-bottom: 1px solid rgb(96, 166, 69);
}

.field__grey,
.field__grey:focus {
	border-bottom: 1px solid #C5C5C5;
}

.dark__container {
	top: 0;
	right: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #F2F2F2;
}