html,
body,
#root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

.breadcrumbs__container,
.breadcrumbs__container li {
	display: inline-block;
}

.breadcrumbs__container li:before {
	margin: 8px;
	content: '/';
}

.files__container {
	height: calc(100% - 74px);
}

.buttonsField{
	text-align: center;
}

#menu-product_id > div:nth-child(2) {
	overflow-y: scroll;
}

.select-header-lang__container:before,
.select-header-lang__container:after,
.select-header-lang__container:focus {
	color: #FFF !important;
	background-color: #FFF !important;
}

.select-header-lang__container svg,
.select-header-lang__container,
.select-header-lang__container > div > div {
	color: #FFF !important;
}

.mark:before {
	font-family: WooCommerce;
	speak: none;
}
 
.mark.cancelled:before {
    content: '\e013';
    color: #a00;
}

.mark.neworder:before {
	content: "\e016";
	color: #ff0000;
}

.mark.inalocalwarehouse:before,
.mark.shippedbythefactory:before {
	content: '\e033';
	color: #999;
}

.mark.processing:before {
	content: '\e011';
	color: #73a724;
}

.mark.waitingforpayment:before {
	content: '\e012';
	color: #ffba00;
}

.mark.completed:before {
	content: '\e015';
	color: #2ea2cc;
}

.mark.returned:before {
	content: '\e014';
	color: #999;
}

.mark.hasbeenpaid:before {
	content: "\e604";
	color: #439929;
}