.footer__container {
	line-height: 1.5;
	position: relative;
	font-family: 'Roboto', sans-serif;

	.bottom-helper__container {
		bottom: 0;
		position: absolute;
	}
	
	.service__container {
		padding: 19px 0;
		font-size: 16px;
		color: rgb(17, 17, 17);
		background-color: #60A645;

		.row__container {
			margin: 0 auto;

			@media (max-width: 767px) {
				padding: 0 20px;	
			}

			.social__container {
				@media (max-width: 767px) {
					width: 20%;
					flex: 0 0 20%;
					max-width: 20%;
				}

				@media (max-width: 479px) {
					max-width: 30%;
					width: 30%;
					flex: 0 0 30%;
				}

				.item__link {
					color: #FFF;
					margin-left: 17px;
					position: relative;
					display: inline-block;
					transition: all .3s ease;

					.icon__container {
						top: 0;
						left: 0;
						width: 100%;
						color: #FFF;
						display: none;
						position: absolute;
						background-color: #60A645;
					}

					@media (max-width: 1249px) {
						.title__container {
							display: none;
						}

						.icon__container {
							display: block;
							position: static;
						}
					}

					@media (max-width: 767px) {
						margin-left: 8px;
					}
				}

				.item__link:hover {
					.icon__container {
						display: block;
					}
				}
			}

			.currency-rates__container {
				color: #FFF;

				@media (max-width: 1249px) {
					font-size: 12px;
				}

				@media (max-width: 767px) {
					width: 80%;
					flex: 0 0 80%;
					max-width: 80%;
					font-size: 9px;
				}

				@media (max-width: 479px) {
					max-width: 70%;
					width: 70%;
					flex: 0 0 70%;
				}

				.currency__item {
					line-height: 1.5;
					margin-left: 17px;
					display: inline-block;

					@media (max-width: 767px) {
						margin-left: 4px;

						.equal__item {
							display: none;
						}
					}

					@media (max-width: 479px) {
						max-width: 34px;
						text-align: center;
						margin-left: 3px;
					}
				}
			}
		}
	}

	.info__container {
		background-color: #000;

		@media (min-width: 768px) {
			padding: 30px 0 20px;
		}

		@media (min-width: 992px) {
			padding: 50px 0 36px;
		}

		@media (max-width: 767px) {
			padding: 30px 20px 25px;
		}

		.row__container {
			margin: 0 auto;

			.logo__container {
				@media (min-width: 768px) {
					width: 32%;
					flex: 0 0 32%;
					max-width: 32%;
					padding-top: 10px;
				}

				@media (min-width: 992px) {
					width: 16%;
					flex: 0 0 16%;
					max-width: 16%;

					.logo__icon {
						max-width: 130px;
					}
				}

				@media (min-width: 1250px) {
					width: 21%;
					flex: 0 0 21%;
					max-width: 21%;
				}

				@media (max-width: 767px) {
					width: 100%;
					flex: 0 0 100%;
					max-width: 100%;
					padding-bottom: 28px;

					.logo__icon {
						width: 148px !important;
					}
				}

				@media (max-width: 479px) {
					.logo-link__item {
						width: 100%;
						display: block;
						flex: 0 0 100%;
						max-width: 100%;
						text-align: center;
					}
				}
			}

			.payment-types__container {
				margin-top: 30px;
				vertical-align: top;
				display: inline-block;

				img {
					max-width: 100%;
				}

				@media (max-width: 767px) {
					margin-top: 14px;
					text-align: right;
					width: calc(100% - 166px);
				}

				@media (max-width: 479px) {
					width: 100%;
					margin-top: 18px;
					text-align: center;
				}
			}

			.navigation__list {
				@media (min-width: 768px) {
					margin-bottom: 34px;
				}

				@media (min-width: 992px) {
					width: 40%;
					flex: 0 0 40%;
					max-width: 40%;
				}

				@media (min-width: 1250px) {
					width: 43%;
					flex: 0 0 43%;
					max-width: 43%;
				}

				@media (max-width: 767px) {
					width: 16%;
					flex: 0 0 16%;
					max-width: 16%;
					line-height: 1.2;
					margin-right: 14px;
					margin-bottom: 14px;
				}

				@media (max-width: 479px) {
					width: 170px;
					display: flex;
					margin: 18px auto 8px !important;
					flex: 0 0 170px;
					max-width: 100%;
					text-align: center;
					flex-flow: row wrap;
					align-items: center;
					justify-content: space-between;
				}

				.list__item {
					margin-bottom: 10px;

					a {
						text-decoration: none;
						color: rgb(96, 166, 69);
						transition: all .2s ease;
					}

					a:hover {
						color: #FFF;
					}

					@media (max-width: 479px) {
						display: block;
						font-size: 14px;
						margin-right: 24px;
					}
				}
			}

			.contacts__container {
				@media (min-width: 768px) {
					width: 100%;
					flex: 0 0 100%;
					max-width: 100%;
				}

				@media (min-width: 992px) {
					width: 46%;
					flex: 0 0 46%;
					max-width: 46%;
				}

				@media (min-width: 1250px) {
					width: 36%;
					flex: 0 0 36%;
					max-width: 36%;
				}

				@media (max-width: 767px) {
					width: 84%;
					flex: 0 0 84%;
					max-width: 84%;
				}

				@media (max-width: 479px) {
					width: 100%;
					flex: 0 0 100%;
					max-width: 100%;
					margin: 0 auto;
				}

				.contacts__list {
					font-size: 14px;
					list-style: none;

					@media (min-width: 768px) {
						width: 64%;
						flex: 0 0 64%;
						max-width: 64%;
						padding-left: 34%;
					}

					@media (min-width: 992px) {
						margin: 0;
						padding: 0;
						width: 50%;
						flex: 0 0 50%;
						max-width: 50%;
					}

					@media (max-width: 767px) {
						width: auto;
					}

					@media (max-width: 479px) {
						width: 100%;
						height: 62px;
						margin: 12px 0;
						text-align: center;
					}

					.list__item {
						cursor: pointer;
						padding: 2px 8px;
						border-radius: 2px;
						display: inline-block;
						color: rgb(96, 166, 69);
						background-color: transparent;

						.phone-area__container {
							color: #FFF;
							display: none;
							font-size: 20px;
							font-weight: bold;
							line-height: 1.196;
							position: absolute;
							white-space: nowrap;

							@media (min-width: 768px) {
								right: 0;
								left: 50%;
								width: 50%;
								padding: 10px 0 0 16px;
							}

							@media (min-width: 992px) {
								left: 0;
								width: 100%;
								padding: 10px 0 0;
							}

							@media (max-width: 767px) {
								margin-top: 6px;
							}

							@media (max-width: 479px) {
								left: 0;
								right: 0;
							}
						}
					}

					.list__item:hover,
					.list__iitem:focus,
					.list__item.active {
						color: #FFF;
						background-color: #333333;
					}

					.list__item.active {
						.phone-area__container {
							display: block;
						}
					}
				}

				.connect-button__container {
					@media (min-width: 768px) {
						width: 34%;
						flex: 0 0 34%;
						max-width: 34%;
						text-align: left;
					}

					@media (min-width: 992px) {
						width: 50%;
						flex: 0 0 50%;
						max-width: 50%;
						text-align: left;
					}

					@media (max-width: 767px) {
						width: 192px;
					}

					@media (max-width: 479px) {
						width: 100%;
					}

					.connect__button {
						padding: 0 20px;

						@media (max-width: 479px) {
							width: 100%;
						}
					}
				}

				.locales__container {
					width: 100%;

					@media (min-width: 768px) {
						text-align: left;
					}

					@media (min-width: 992px) {
						text-align: right;
					}

					@media (max-width: 767px) {
						padding: 0 20px;
					}

					@media (max-width: 558px) {
						top: 72px;
						text-align: right;
						position: absolute;
					}

					@media (max-width: 479px) {
						margin-top: 12px;
						position: static;
						text-align: center;
					}
				}
			}
		}
	}
}